body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:3367px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u16689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1636px;
  height:808px;
}
#u16689 {
  border-width:0px;
  position:absolute;
  left:1736px;
  top:0px;
  width:1636px;
  height:808px;
  display:flex;
}
#u16689 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16689_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1636px;
  height:808px;
}
#u16690 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1636px;
  height:808px;
  display:flex;
}
#u16690 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16690_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1636px;
  height:75px;
}
#u16691 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1636px;
  height:75px;
  display:flex;
}
#u16691 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16691_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#81D3F8;
  text-align:center;
}
#u16692 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:22px;
  width:110px;
  height:37px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#81D3F8;
  text-align:center;
}
#u16692 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16692_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:37px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.329411764705882);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#81D3F8;
  text-align:center;
}
#u16692.selected {
}
#u16692_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#81D3F8;
  text-align:center;
}
#u16693 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:22px;
  width:110px;
  height:37px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#81D3F8;
  text-align:center;
}
#u16693 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16693_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:37px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.329411764705882);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#81D3F8;
  text-align:center;
}
#u16693.selected {
}
#u16693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:699px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u16694 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:90px;
  width:426px;
  height:699px;
  display:flex;
  font-size:16px;
}
#u16694 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16694_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:191px;
}
#u16695 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:514px;
  width:191px;
  height:191px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u16695 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16695_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u16696 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:717px;
  width:84px;
  height:16px;
  display:flex;
  font-size:14px;
}
#u16696 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16696_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:191px;
}
#u16697 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:514px;
  width:191px;
  height:191px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u16697 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16697_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u16698 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:717px;
  width:70px;
  height:16px;
  display:flex;
  font-size:14px;
}
#u16698 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16698_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:191px;
}
#u16699 {
  border-width:0px;
  position:absolute;
  left:1108px;
  top:514px;
  width:191px;
  height:191px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u16699 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16699_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u16700 {
  border-width:0px;
  position:absolute;
  left:1169px;
  top:717px;
  width:70px;
  height:16px;
  display:flex;
  font-size:14px;
}
#u16700 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16700_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:191px;
}
#u16701 {
  border-width:0px;
  position:absolute;
  left:1329px;
  top:514px;
  width:191px;
  height:191px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u16701 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16701_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16702_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u16702 {
  border-width:0px;
  position:absolute;
  left:1383px;
  top:717px;
  width:84px;
  height:16px;
  display:flex;
  font-size:14px;
}
#u16702 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16702_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u16703 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:639px;
  width:18px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u16703 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16703_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u16704 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:639px;
  width:18px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u16704 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16704_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16705 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16706-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16706-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16706-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16706-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16706-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16706-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16706-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16706-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16706-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16706-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16706-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16706-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16706-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16706-14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16706-15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16706-16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16706-17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16706-18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16706-19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16706-20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16706-21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16706 {
  border-width:0px;
  position:absolute;
  left:1572px;
  top:139px;
  width:0px;
  height:0px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u16707-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16707-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16707-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16707-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16707-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16707-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16707-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16707-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16707-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16707-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16707-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16707-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16707-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16707-14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16707-15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16707-16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16707-17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16707-18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16707-19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16707-20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16707-21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16707 {
  border-width:0px;
  position:absolute;
  left:1572px;
  top:139px;
  width:0px;
  height:0px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u16708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1066px;
  height:300px;
}
#u16708 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:139px;
  width:1066px;
  height:300px;
  display:flex;
  font-size:16px;
  line-height:36px;
}
#u16708 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16708_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u16709 {
  border-width:0px;
  position:absolute;
  left:1195px;
  top:639px;
  width:17px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u16709 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16709_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u16710 {
  border-width:0px;
  position:absolute;
  left:1416px;
  top:639px;
  width:17px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u16710 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16710_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u16711 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:404px;
  width:72px;
  height:72px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u16711 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1636px;
  height:75px;
}
#u16712 {
  border-width:0px;
  position:absolute;
  left:1736px;
  top:0px;
  width:1636px;
  height:75px;
  display:flex;
}
#u16712 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16712_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#81D3F8;
  text-align:center;
}
#u16713 {
  border-width:0px;
  position:absolute;
  left:1780px;
  top:22px;
  width:110px;
  height:37px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#81D3F8;
  text-align:center;
}
#u16713 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16713_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:37px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.329411764705882);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#81D3F8;
  text-align:center;
}
#u16713.selected {
}
#u16713_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#81D3F8;
  text-align:center;
}
#u16714 {
  border-width:0px;
  position:absolute;
  left:1900px;
  top:22px;
  width:110px;
  height:37px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#81D3F8;
  text-align:center;
}
#u16714 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16714_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:37px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.329411764705882);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#81D3F8;
  text-align:center;
}
#u16714.selected {
}
#u16714_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:136px;
}
#u16715 {
  border-width:0px;
  position:absolute;
  left:2340px;
  top:399px;
  width:136px;
  height:136px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u16715 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16716_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u16716 {
  border-width:0px;
  position:absolute;
  left:2380px;
  top:547px;
  width:56px;
  height:16px;
  display:flex;
  font-size:14px;
}
#u16716 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16716_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u16717 {
  border-width:0px;
  position:absolute;
  left:3112px;
  top:547px;
  width:98px;
  height:16px;
  display:flex;
  font-size:14px;
}
#u16717 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16717_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u16718 {
  border-width:0px;
  position:absolute;
  left:2399px;
  top:487px;
  width:17px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u16718 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16718_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16719_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:699px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u16719 {
  border-width:0px;
  position:absolute;
  left:1756px;
  top:90px;
  width:426px;
  height:699px;
  display:flex;
  font-size:16px;
}
#u16719 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16719_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:2px;
}
#u16720 {
  border-width:0px;
  position:absolute;
  left:1823px;
  top:440px;
  width:260px;
  height:1px;
  display:flex;
}
#u16720 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16720_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:191px;
}
#u16721 {
  border-width:0px;
  position:absolute;
  left:2312px;
  top:141px;
  width:191px;
  height:191px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u16721 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16721_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16722_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u16722 {
  border-width:0px;
  position:absolute;
  left:2380px;
  top:344px;
  width:56px;
  height:16px;
  display:flex;
  font-size:14px;
}
#u16722 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16722_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:191px;
}
#u16723 {
  border-width:0px;
  position:absolute;
  left:2533px;
  top:141px;
  width:191px;
  height:191px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u16723 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u16724 {
  border-width:0px;
  position:absolute;
  left:2587px;
  top:344px;
  width:84px;
  height:16px;
  display:flex;
  font-size:14px;
}
#u16724 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16724_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:191px;
}
#u16725 {
  border-width:0px;
  position:absolute;
  left:2754px;
  top:141px;
  width:191px;
  height:191px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u16725 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u16726 {
  border-width:0px;
  position:absolute;
  left:2801px;
  top:344px;
  width:98px;
  height:16px;
  display:flex;
  font-size:14px;
}
#u16726 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16726_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:191px;
}
#u16727 {
  border-width:0px;
  position:absolute;
  left:3065px;
  top:141px;
  width:191px;
  height:191px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u16727 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16727_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u16728 {
  border-width:0px;
  position:absolute;
  left:3133px;
  top:344px;
  width:56px;
  height:16px;
  display:flex;
  font-size:14px;
}
#u16728 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16728_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16729_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u16729 {
  border-width:0px;
  position:absolute;
  left:2399px;
  top:266px;
  width:18px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u16729 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16729_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u16730 {
  border-width:0px;
  position:absolute;
  left:2620px;
  top:266px;
  width:18px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u16730 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16730_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16731_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u16731 {
  border-width:0px;
  position:absolute;
  left:2841px;
  top:266px;
  width:18px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u16731 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16731_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:136px;
}
#u16732 {
  border-width:0px;
  position:absolute;
  left:2340px;
  top:593px;
  width:136px;
  height:136px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u16732 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16732_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16733_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u16733 {
  border-width:0px;
  position:absolute;
  left:2380px;
  top:741px;
  width:56px;
  height:16px;
  display:flex;
  font-size:14px;
}
#u16733 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16733_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16734_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u16734 {
  border-width:0px;
  position:absolute;
  left:2399px;
  top:681px;
  width:17px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u16734 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16734_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:136px;
}
#u16735 {
  border-width:0px;
  position:absolute;
  left:2561px;
  top:399px;
  width:136px;
  height:136px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u16735 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16735_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u16736 {
  border-width:0px;
  position:absolute;
  left:2601px;
  top:547px;
  width:56px;
  height:16px;
  display:flex;
  font-size:14px;
}
#u16736 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16736_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16737_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u16737 {
  border-width:0px;
  position:absolute;
  left:2620px;
  top:487px;
  width:17px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u16737 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16737_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:136px;
}
#u16738 {
  border-width:0px;
  position:absolute;
  left:2561px;
  top:593px;
  width:136px;
  height:136px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u16738 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16738_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u16739 {
  border-width:0px;
  position:absolute;
  left:2601px;
  top:741px;
  width:56px;
  height:16px;
  display:flex;
  font-size:14px;
}
#u16739 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16739_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u16740 {
  border-width:0px;
  position:absolute;
  left:2620px;
  top:681px;
  width:17px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u16740 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16740_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:136px;
}
#u16741 {
  border-width:0px;
  position:absolute;
  left:2782px;
  top:399px;
  width:136px;
  height:136px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u16741 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16741_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u16742 {
  border-width:0px;
  position:absolute;
  left:2822px;
  top:547px;
  width:56px;
  height:16px;
  display:flex;
  font-size:14px;
}
#u16742 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16742_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16743_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u16743 {
  border-width:0px;
  position:absolute;
  left:2841px;
  top:487px;
  width:17px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u16743 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16743_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:136px;
}
#u16744 {
  border-width:0px;
  position:absolute;
  left:2782px;
  top:593px;
  width:136px;
  height:136px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u16744 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16744_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16745_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u16745 {
  border-width:0px;
  position:absolute;
  left:2822px;
  top:741px;
  width:56px;
  height:16px;
  display:flex;
  font-size:14px;
}
#u16745 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16745_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u16746 {
  border-width:0px;
  position:absolute;
  left:2841px;
  top:681px;
  width:17px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u16746 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16746_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:136px;
}
#u16747 {
  border-width:0px;
  position:absolute;
  left:3093px;
  top:399px;
  width:136px;
  height:136px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u16747 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16747_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16748_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u16748 {
  border-width:0px;
  position:absolute;
  left:3112px;
  top:741px;
  width:98px;
  height:16px;
  display:flex;
  font-size:14px;
}
#u16748 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16748_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:136px;
}
#u16749 {
  border-width:0px;
  position:absolute;
  left:3093px;
  top:593px;
  width:136px;
  height:136px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u16749 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16749_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16750_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u16750 {
  border-width:0px;
  position:absolute;
  left:3140px;
  top:266px;
  width:41px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u16750 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16750_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u16751 {
  border-width:0px;
  position:absolute;
  left:3141px;
  top:487px;
  width:41px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u16751 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16751_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16752_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u16752 {
  border-width:0px;
  position:absolute;
  left:3141px;
  top:681px;
  width:41px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u16752 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16752_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
