body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1659px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1659px;
  height:792px;
}
#u3980 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1659px;
  height:792px;
  display:flex;
}
#u3980 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u3981 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:246px;
  width:300px;
  height:170px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u3981 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3981_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
