body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:725px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3794 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 15px rgba(85, 85, 85, 0.349019607843137);
  -webkit-box-shadow:5px 5px 15px rgba(85, 85, 85, 0.349019607843137);
  box-shadow:5px 5px 15px rgba(85, 85, 85, 0.349019607843137);
}
#u3795 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:640px;
  display:flex;
}
#u3795 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3795_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u3796 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:19px;
  width:10px;
  height:16px;
  display:flex;
}
#u3796 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3796_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u3797 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:70px;
  width:70px;
  height:16px;
  display:flex;
  font-size:14px;
}
#u3797 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3797_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3798 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:11px;
  -moz-box-shadow:0px 5px 5px rgba(170, 170, 170, 0.349019607843137);
  -webkit-box-shadow:0px 5px 5px rgba(170, 170, 170, 0.349019607843137);
  box-shadow:0px 5px 5px rgba(170, 170, 170, 0.349019607843137);
}
#u3799 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:104px;
  width:300px;
  height:74px;
  display:flex;
}
#u3799 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3799_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u3800 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:119px;
  width:44px;
  height:44px;
  display:flex;
}
#u3800 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3800_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3801 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:124px;
  width:68px;
  height:16px;
  display:flex;
}
#u3801 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3801_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3802 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:146px;
  width:130px;
  height:16px;
  display:flex;
}
#u3802 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3802_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
  background:inherit;
  background-color:rgba(105, 225, 71, 1);
  border:none;
  border-radius:22px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u3803 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:132px;
  width:85px;
  height:30px;
  display:flex;
  font-size:11px;
}
#u3803 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3803_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:11px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3804 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:104px;
  width:21px;
  height:19px;
  display:flex;
}
#u3804 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:12px;
}
#u3805 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:108px;
  width:10px;
  height:12px;
  display:flex;
}
#u3805 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3805_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3806 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:11px;
  -moz-box-shadow:0px 5px 5px rgba(170, 170, 170, 0.349019607843137);
  -webkit-box-shadow:0px 5px 5px rgba(170, 170, 170, 0.349019607843137);
  box-shadow:0px 5px 5px rgba(170, 170, 170, 0.349019607843137);
}
#u3807 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:296px;
  width:300px;
  height:74px;
  display:flex;
}
#u3807 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3807_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u3808 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:311px;
  width:44px;
  height:44px;
  display:flex;
}
#u3808 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3808_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3809 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:316px;
  width:68px;
  height:16px;
  display:flex;
}
#u3809 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3809_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3810 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:338px;
  width:129px;
  height:16px;
  display:flex;
}
#u3810 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3810_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:22px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u3811 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:324px;
  width:85px;
  height:30px;
  display:flex;
  font-size:11px;
}
#u3811 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3812 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:11px;
  -moz-box-shadow:0px 5px 5px rgba(170, 170, 170, 0.349019607843137);
  -webkit-box-shadow:0px 5px 5px rgba(170, 170, 170, 0.349019607843137);
  box-shadow:0px 5px 5px rgba(170, 170, 170, 0.349019607843137);
}
#u3813 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:392px;
  width:300px;
  height:74px;
  display:flex;
}
#u3813 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3813_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u3814 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:407px;
  width:44px;
  height:44px;
  display:flex;
}
#u3814 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3814_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3815 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:412px;
  width:80px;
  height:16px;
  display:flex;
}
#u3815 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3815_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:22px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u3816 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:422px;
  width:85px;
  height:30px;
  display:flex;
  font-size:11px;
}
#u3816 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3816_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:13px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3817 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:488px;
  width:318px;
  height:13px;
  display:flex;
}
#u3817 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#02A7F0;
}
#u3818 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:523px;
  width:90px;
  height:21px;
  display:flex;
  color:#02A7F0;
}
#u3818 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3818_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3819 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:557px;
  width:290px;
  height:56px;
  display:flex;
}
#u3819 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3819_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u3820 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:15px;
  width:60px;
  height:23px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u3820 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3820_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u3821 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:320px;
  height:1px;
  display:flex;
}
#u3821 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3821_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:122px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 10px rgba(85, 85, 85, 0.2);
  -webkit-box-shadow:5px 5px 10px rgba(85, 85, 85, 0.2);
  box-shadow:5px 5px 10px rgba(85, 85, 85, 0.2);
  color:#FFFFFF;
}
#u3822 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:50px;
  width:310px;
  height:122px;
  display:flex;
  color:#FFFFFF;
}
#u3822 .text {
  position:absolute;
  align-self:flex-start;
  padding:15px 10px 10px 15px;
  box-sizing:border-box;
  width:100%;
}
#u3822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3823 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u3824 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:115px;
  width:21px;
  height:21px;
  display:flex;
}
#u3824 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3824_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u3825 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:117px;
  width:17px;
  height:17px;
  display:flex;
}
#u3825 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3825_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u3826 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:120px;
  width:11px;
  height:11px;
  display:flex;
}
#u3826 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u3827 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:123px;
  width:5px;
  height:5px;
  display:flex;
}
#u3827 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3827_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3828 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:19px;
  width:56px;
  height:16px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3828 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3828_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3829 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:11px;
  -moz-box-shadow:0px 5px 5px rgba(170, 170, 170, 0.349019607843137);
  -webkit-box-shadow:0px 5px 5px rgba(170, 170, 170, 0.349019607843137);
  box-shadow:0px 5px 5px rgba(170, 170, 170, 0.349019607843137);
}
#u3830 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:206px;
  width:300px;
  height:74px;
  display:flex;
}
#u3830 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3830_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:11px;
  -moz-box-shadow:0px 5px 5px rgba(170, 170, 170, 0.349019607843137);
  -webkit-box-shadow:0px 5px 5px rgba(170, 170, 170, 0.349019607843137);
  box-shadow:0px 5px 5px rgba(170, 170, 170, 0.349019607843137);
}
#u3831 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:201px;
  width:300px;
  height:74px;
  display:flex;
}
#u3831 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3831_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u3832 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:216px;
  width:44px;
  height:44px;
  display:flex;
}
#u3832 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3833 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:221px;
  width:68px;
  height:16px;
  display:flex;
}
#u3833 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3833_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3834 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:243px;
  width:130px;
  height:16px;
  display:flex;
}
#u3834 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3834_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
  background:inherit;
  background-color:rgba(105, 225, 71, 1);
  border:none;
  border-radius:22px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u3835 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:229px;
  width:85px;
  height:30px;
  display:flex;
  font-size:11px;
}
#u3835 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:24px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.329411764705882);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3837 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:202px;
  width:34px;
  height:24px;
  display:flex;
}
#u3837 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u3838 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:208px;
  width:11px;
  height:11px;
  display:flex;
}
#u3838 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3839 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:337px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:22px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3840 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:254px;
  width:320px;
  height:337px;
  display:flex;
}
#u3840 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3841 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:90px;
  background:inherit;
  background-color:rgba(129, 211, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3842 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:274px;
  width:300px;
  height:90px;
  display:flex;
}
#u3842 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u3843 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:288px;
  width:130px;
  height:32px;
  display:flex;
  font-size:28px;
  color:#FFFFFF;
}
#u3843 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3843_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3844 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:330px;
  width:61px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u3844 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3844_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u3845 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:331px;
  width:39px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#FFFFFF;
}
#u3845 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3845_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u3846 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:331px;
  width:67px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#FFFFFF;
}
#u3846 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3846_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3847 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:90px;
}
#u3848 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:380px;
  width:300px;
  height:90px;
  display:flex;
}
#u3848 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3848_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u3849 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:394px;
  width:130px;
  height:32px;
  display:flex;
  font-size:28px;
  color:#FFFFFF;
}
#u3849 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3849_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3850 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:436px;
  width:61px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u3850 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3850_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u3851 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:437px;
  width:39px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#FFFFFF;
}
#u3851 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3851_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u3852 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:437px;
  width:66px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#FFFFFF;
}
#u3852 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3852_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u3853 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:417px;
  width:106px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#FFFFFF;
}
#u3853 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3853_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3854 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:90px;
}
#u3855 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:486px;
  width:300px;
  height:90px;
  display:flex;
}
#u3855 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3855_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u3856 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:500px;
  width:130px;
  height:32px;
  display:flex;
  font-size:28px;
  color:#FFFFFF;
}
#u3856 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3856_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3857 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:542px;
  width:61px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u3857 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3857_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u3858 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:543px;
  width:39px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#FFFFFF;
}
#u3858 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3858_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u3859 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:543px;
  width:67px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#FFFFFF;
}
#u3859 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3859_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u3860 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:523px;
  width:105px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#FFFFFF;
}
#u3860 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3860_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:11px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#02A7F0;
}
#u3861 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:590px;
  width:320px;
  height:50px;
  display:flex;
  color:#02A7F0;
}
#u3861 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3862 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u3863 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:115px;
  width:21px;
  height:21px;
  display:flex;
}
#u3863 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3863_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u3864 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:117px;
  width:17px;
  height:17px;
  display:flex;
}
#u3864 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3864_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u3865 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:120px;
  width:11px;
  height:11px;
  display:flex;
}
#u3865 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3865_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u3866 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:123px;
  width:5px;
  height:5px;
  display:flex;
}
#u3866 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3866_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3867 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:214px;
  width:0px;
  height:0px;
}
#u3867_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-6px;
  width:10px;
  height:6px;
}
#u3867_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-6px;
  width:74px;
  height:10px;
}
#u3867_seg2 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-6px;
  width:10px;
  height:220px;
}
#u3867_seg3 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:204px;
  width:47px;
  height:10px;
}
#u3867_seg4 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:200px;
  width:19px;
  height:18px;
}
#u3867_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:85px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3868 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:11px;
  -moz-box-shadow:0px 5px 5px rgba(170, 170, 170, 0.349019607843137);
  -webkit-box-shadow:0px 5px 5px rgba(170, 170, 170, 0.349019607843137);
  box-shadow:0px 5px 5px rgba(170, 170, 170, 0.349019607843137);
}
#u3869 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:660px;
  width:300px;
  height:74px;
  display:flex;
}
#u3869 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3869_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u3870 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:675px;
  width:44px;
  height:44px;
  display:flex;
}
#u3870 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3871 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:680px;
  width:80px;
  height:16px;
  display:flex;
}
#u3871 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3871_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:22px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u3872 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:690px;
  width:85px;
  height:30px;
  display:flex;
  font-size:11px;
}
#u3872 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3872_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3873 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u3874 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:16px;
  width:21px;
  height:21px;
  display:flex;
}
#u3874 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3874_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u3875 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:18px;
  width:17px;
  height:17px;
  display:flex;
}
#u3875 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u3876 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:21px;
  width:11px;
  height:11px;
  display:flex;
}
#u3876 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u3877 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:24px;
  width:5px;
  height:5px;
  display:flex;
}
#u3877 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3877_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3878 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u3879 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:146px;
  width:21px;
  height:21px;
  display:flex;
}
#u3879 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3879_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u3880 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:148px;
  width:17px;
  height:17px;
  display:flex;
}
#u3880 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3880_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u3881 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:151px;
  width:11px;
  height:11px;
  display:flex;
}
#u3881 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3881_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u3882 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:154px;
  width:5px;
  height:5px;
  display:flex;
}
#u3882 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3882_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3883 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u3884 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:249px;
  width:21px;
  height:21px;
  display:flex;
}
#u3884 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u3885 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:251px;
  width:17px;
  height:17px;
  display:flex;
}
#u3885 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u3886 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:254px;
  width:11px;
  height:11px;
  display:flex;
}
#u3886 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u3887 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:257px;
  width:5px;
  height:5px;
  display:flex;
}
#u3887 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3887_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3888 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u3889 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:710px;
  width:21px;
  height:21px;
  display:flex;
}
#u3889 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u3890 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:712px;
  width:17px;
  height:17px;
  display:flex;
}
#u3890 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3890_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u3891 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:715px;
  width:11px;
  height:11px;
  display:flex;
}
#u3891 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u3892 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:718px;
  width:5px;
  height:5px;
  display:flex;
}
#u3892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3893 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u3894 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:442px;
  width:21px;
  height:21px;
  display:flex;
}
#u3894 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3894_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u3895 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:444px;
  width:17px;
  height:17px;
  display:flex;
}
#u3895 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u3896 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:447px;
  width:11px;
  height:11px;
  display:flex;
}
#u3896 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3896_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u3897 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:450px;
  width:5px;
  height:5px;
  display:flex;
}
#u3897 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3897_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3898 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u3899 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:16px;
  width:21px;
  height:21px;
  display:flex;
}
#u3899 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3899_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u3900 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:18px;
  width:17px;
  height:17px;
  display:flex;
}
#u3900 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u3901 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:21px;
  width:11px;
  height:11px;
  display:flex;
}
#u3901 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u3902 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:24px;
  width:5px;
  height:5px;
  display:flex;
}
#u3902 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3902_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
