body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-2px;
  width:1646px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u15768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1646px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15768 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:1646px;
  height:59px;
  display:flex;
}
#u15768 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u15769 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:21px;
  width:72px;
  height:21px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u15769 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15769_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15770 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(41, 98, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#2962FF;
}
#u15771 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:15px;
  width:77px;
  height:33px;
  display:flex;
  font-size:16px;
  color:#2962FF;
}
#u15771 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15771_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(41, 98, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#2962FF;
}
#u15771.mouseOver {
}
#u15771_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:6px;
}
#u15772 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:29px;
  width:11px;
  height:6px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  color:#2962FF;
}
#u15772 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15772_img.mouseOver {
}
#u15772.mouseOver {
}
#u15772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15773 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:61px;
  width:1636px;
  height:749px;
}
#u15773_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1636px;
  height:749px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15773_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15774 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1732px;
  height:749px;
}
#u15774_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1732px;
  height:749px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15774_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1636px;
  height:933px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15775 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:1636px;
  height:933px;
  display:flex;
}
#u15775 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15775_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:934px;
}
#u15776 {
  border-width:0px;
  position:absolute;
  left:1636px;
  top:0px;
  width:1px;
  height:933px;
  display:flex;
}
#u15776 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15776_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1630px;
  height:1111px;
}
#u15777 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1630px;
  height:1111px;
  display:flex;
}
#u15777 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15778 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:1044px;
  width:57px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15779 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15780 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:648px;
}
#u15781 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:107px;
  width:466px;
  height:648px;
  display:flex;
}
#u15781 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15781_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15782 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:707px;
  width:115px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15783 {
  border-width:0px;
  position:absolute;
  left:954px;
  top:123px;
  width:48px;
  height:33px;
  display:flex;
}
#u15783 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u15784 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:123px;
  width:48px;
  height:48px;
  display:flex;
}
#u15784 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15784_img.mouseOver {
}
#u15784.mouseOver {
}
#u15784_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
