body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1830px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 15px rgba(85, 85, 85, 0.349019607843137);
  -webkit-box-shadow:5px 5px 15px rgba(85, 85, 85, 0.349019607843137);
  box-shadow:5px 5px 15px rgba(85, 85, 85, 0.349019607843137);
}
#u7130 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:0px;
  width:320px;
  height:640px;
  display:flex;
}
#u7130 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u7131 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:19px;
  width:10px;
  height:16px;
  display:flex;
}
#u7131 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7132 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 15px rgba(85, 85, 85, 0.349019607843137);
  -webkit-box-shadow:5px 5px 15px rgba(85, 85, 85, 0.349019607843137);
  box-shadow:5px 5px 15px rgba(85, 85, 85, 0.349019607843137);
}
#u7133 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:0px;
  width:320px;
  height:640px;
  display:flex;
}
#u7133 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u7134 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:19px;
  width:10px;
  height:16px;
  display:flex;
}
#u7134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 15px rgba(85, 85, 85, 0.349019607843137);
  -webkit-box-shadow:5px 5px 15px rgba(85, 85, 85, 0.349019607843137);
  box-shadow:5px 5px 15px rgba(85, 85, 85, 0.349019607843137);
}
#u7135 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:640px;
  display:flex;
}
#u7135 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7136 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:143px;
  width:68px;
  height:37px;
  display:flex;
}
#u7136 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7136_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(2, 167, 240, 1);
  border-radius:33px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7137 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:330px;
  width:200px;
  height:50px;
  display:flex;
  font-size:14px;
}
#u7137 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:33px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7138 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:420px;
  width:200px;
  height:50px;
  display:flex;
  font-size:14px;
}
#u7138 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7139 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:530px;
  width:64px;
  height:18px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7139 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7139_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u7140 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:16px;
  width:40px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u7140 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7140_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:33px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7141 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:132px;
  width:200px;
  height:50px;
  display:flex;
  font-size:14px;
}
#u7141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:33px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7142 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:210px;
  width:200px;
  height:50px;
  display:flex;
  font-size:14px;
}
#u7142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:33px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7143 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:289px;
  width:200px;
  height:50px;
  display:flex;
  font-size:14px;
}
#u7143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0066FF;
}
#u7144 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:462px;
  width:56px;
  height:16px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0066FF;
}
#u7144 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7144_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7145 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:520px;
  width:60px;
  height:14px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7145 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7145_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u7146 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:570px;
  width:46px;
  height:46px;
  display:flex;
  font-size:11px;
}
#u7146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u7147 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:568px;
  width:48px;
  height:48px;
  display:flex;
  font-size:14px;
}
#u7147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:33px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7148 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:381px;
  width:200px;
  height:50px;
  display:flex;
  font-size:14px;
}
#u7148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u7149 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:16px;
  width:40px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u7149 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7149_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:33px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7150 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:132px;
  width:200px;
  height:50px;
  display:flex;
  font-size:14px;
}
#u7150 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:33px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u7151 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:208px;
  width:200px;
  height:50px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u7151 .text {
  position:absolute;
  align-self:center;
  padding:11px 11px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0066FF;
}
#u7152 {
  border-width:0px;
  position:absolute;
  left:896px;
  top:462px;
  width:56px;
  height:16px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0066FF;
}
#u7152 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7152_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7153 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:520px;
  width:60px;
  height:14px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7153 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7153_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:33px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7154 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:381px;
  width:200px;
  height:50px;
  display:flex;
  font-size:14px;
}
#u7154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u7155 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:55px;
  width:320px;
  height:1px;
  display:flex;
}
#u7155 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7155_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u7156 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:55px;
  width:320px;
  height:1px;
  display:flex;
}
#u7156 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u7157 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:568px;
  width:48px;
  height:48px;
  display:flex;
  font-size:11px;
}
#u7157 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u7158 {
  border-width:0px;
  position:absolute;
  left:946px;
  top:568px;
  width:48px;
  height:48px;
  display:flex;
  font-size:14px;
}
#u7158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7159 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:27px;
  width:0px;
  height:0px;
}
#u7159_seg0 {
  border-width:0px;
  position:absolute;
  left:-51px;
  top:-5px;
  width:51px;
  height:10px;
}
#u7159_seg1 {
  border-width:0px;
  position:absolute;
  left:-51px;
  top:-5px;
  width:10px;
  height:303px;
}
#u7159_seg2 {
  border-width:0px;
  position:absolute;
  left:-76px;
  top:288px;
  width:35px;
  height:10px;
}
#u7159_seg3 {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:284px;
  width:19px;
  height:18px;
}
#u7159_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:131px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u7160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u7160 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:434px;
  width:84px;
  height:14px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u7160 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7160_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7161 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:91px;
  width:36px;
  height:21px;
  display:flex;
}
#u7161 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7161_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u7162 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:96px;
  width:28px;
  height:16px;
  display:flex;
  color:#7F7F7F;
}
#u7162 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7162_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7163 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:91px;
  width:36px;
  height:21px;
  display:flex;
}
#u7163 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7163_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u7164 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:96px;
  width:28px;
  height:16px;
  display:flex;
  color:#7F7F7F;
}
#u7164 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7164_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:107px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 10px rgba(85, 85, 85, 0.2);
  -webkit-box-shadow:5px 5px 10px rgba(85, 85, 85, 0.2);
  box-shadow:5px 5px 10px rgba(85, 85, 85, 0.2);
  color:#FFFFFF;
}
#u7165 {
  border-width:0px;
  position:absolute;
  left:1520px;
  top:132px;
  width:310px;
  height:107px;
  display:flex;
  color:#FFFFFF;
}
#u7165 .text {
  position:absolute;
  align-self:flex-start;
  padding:15px 10px 10px 15px;
  box-sizing:border-box;
  width:100%;
}
#u7165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7166 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u7167 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:460px;
  width:21px;
  height:21px;
  display:flex;
}
#u7167 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u7168 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:462px;
  width:17px;
  height:17px;
  display:flex;
}
#u7168 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u7169 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:465px;
  width:11px;
  height:11px;
  display:flex;
}
#u7169 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u7170 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:468px;
  width:5px;
  height:5px;
  display:flex;
}
#u7170 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7171 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
}
#u7172 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:228px;
  width:17px;
  height:11px;
  display:flex;
}
#u7172 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u7173 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:230px;
  width:6px;
  height:6px;
  display:flex;
}
#u7173 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7174 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:355px;
  width:0px;
  height:0px;
}
#u7174_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:97px;
  height:10px;
}
#u7174_seg1 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:-5px;
  width:10px;
  height:348px;
}
#u7174_seg2 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:333px;
  width:198px;
  height:10px;
}
#u7174_seg3 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:285px;
  width:10px;
  height:58px;
}
#u7174_seg4 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:279px;
  width:18px;
  height:19px;
}
#u7174_text {
  border-width:0px;
  position:absolute;
  left:42px;
  top:236px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u7175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u7176 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:409px;
  width:21px;
  height:21px;
  display:flex;
}
#u7176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u7177 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:411px;
  width:17px;
  height:17px;
  display:flex;
}
#u7177 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u7178 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:414px;
  width:11px;
  height:11px;
  display:flex;
}
#u7178 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u7179 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:417px;
  width:5px;
  height:5px;
  display:flex;
}
#u7179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 15px rgba(85, 85, 85, 0.349019607843137);
  -webkit-box-shadow:5px 5px 15px rgba(85, 85, 85, 0.349019607843137);
  box-shadow:5px 5px 15px rgba(85, 85, 85, 0.349019607843137);
}
#u7181 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:0px;
  width:320px;
  height:640px;
  display:flex;
}
#u7181 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u7182 {
  border-width:0px;
  position:absolute;
  left:1156px;
  top:19px;
  width:10px;
  height:16px;
  display:flex;
}
#u7182 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u7183 {
  border-width:0px;
  position:absolute;
  left:1280px;
  top:16px;
  width:60px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u7183 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7183_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:33px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7184 {
  border-width:0px;
  position:absolute;
  left:1171px;
  top:182px;
  width:258px;
  height:50px;
  display:flex;
  font-size:14px;
}
#u7184 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:33px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u7185 {
  border-width:0px;
  position:absolute;
  left:1171px;
  top:262px;
  width:258px;
  height:50px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u7185 .text {
  position:absolute;
  align-self:center;
  padding:11px 11px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:33px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7186 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:502px;
  width:200px;
  height:50px;
  display:flex;
  font-size:14px;
}
#u7186 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u7187 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:55px;
  width:320px;
  height:1px;
  display:flex;
}
#u7187 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
}
#u7189 {
  border-width:0px;
  position:absolute;
  left:1394px;
  top:282px;
  width:17px;
  height:11px;
  display:flex;
}
#u7189 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u7190 {
  border-width:0px;
  position:absolute;
  left:1399px;
  top:284px;
  width:6px;
  height:6px;
  display:flex;
}
#u7190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:48px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:33px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
  text-align:center;
}
#u7191 {
  border-width:0px;
  position:absolute;
  left:1172px;
  top:183px;
  width:57px;
  height:48px;
  display:flex;
  color:#7F7F7F;
  text-align:center;
}
#u7191 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
#u7191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:48px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:33px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
  text-align:center;
}
#u7192 {
  border-width:0px;
  position:absolute;
  left:1172px;
  top:263px;
  width:57px;
  height:48px;
  display:flex;
  color:#7F7F7F;
  text-align:center;
}
#u7192 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
#u7192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7193 {
  border-width:0px;
  position:absolute;
  left:1268px;
  top:121px;
  width:85px;
  height:21px;
  display:flex;
}
#u7193 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7193_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7194 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:568px;
  width:0px;
  height:0px;
}
#u7194_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-253px;
  width:10px;
  height:253px;
}
#u7194_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-253px;
  width:271px;
  height:10px;
}
#u7194_seg2 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:-264px;
  width:32px;
  height:32px;
}
#u7194_text {
  border-width:0px;
  position:absolute;
  left:-41px;
  top:-256px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
